<div class="pt-10">
    <div class="footer-colour h-45 pt-4">
        <div class="flex">
            <div class="p-4">
                <p>Email</p>
                <a href="mailto:marie.sauve@yahoo.fr" class="text-lg underline">marie.sauve&#64;yahoo.fr</a>
            </div>
            <div class="p-4">
                <p>CV</p>
                <a href="assets/marie-sauve-cv.pdf" target="_blank" class="text-lg underline">View my CV</a>
            </div>
            <div class="p-4 text-lg follow-me">
                <div>
                    Follow me:
                </div>
                <a target=" _blank" href="https://www.linkedin.com/in/marie-sauv%C3%A9-161597148/">
                    <img src="assets/linkedin.svg" class="w-6 h-6 object-contain" alt="Profile picture" />
                </a>
            </div>
        </div>
        <div class="flex flex-col items-center justify-center h-14 text-gray-500">
            <p class="text-xs flex-col">Copyright: Hélène Sauvé</p>
            <div class="text-xs flex-col text-gray-500"><a target=" _blank"
                    href="https://icons8.com/icon/8808/linkedin">LinkedIn</a>
                icon by <a target="_blank" href="https://icons8.com">Icons8</a></div>
        </div>
    </div>
</div>