<div class="flex flex-col min-h-screen">
    <main class="flex-1">
        <div>
            <div class="header flex justify-center items-center">
                <h1 class="text-5xl">About Me</h1>
            </div>
            <div class="outer-div p-4 text-center ">
                <div class="flex items-center justify-center">
                    <img src="assets/about-pic.jpg" class="object-contain rounded-sm w-80 pb-10"
                        alt="Profile picture" />
                </div>
                <p>Looking for an experienced storyteller who takes to any format like duck to water? Look no
                    further. I’ve been working as a multimedia journalist for the past eight years, both for
                    international newsrooms such as Storyful and the BBC, and on indie projects like
                    documentaries, podcasts, and features.</p>
                <p>There’s nothing I like more than a good story and a witty format, and let us be clear: one
                    cannot come without the other. We’ve all watched or listened to a story where the content
                    was fundamentally good but the form was soporific, and I’ve made it my life mission to go
                    against this dreadful flow.</p>
                <p>I attend the concert hall, the opera, theatres and the cinema more often than one should
                    ever admit, and I live, sleep, and eat storytelling. Before I sold my soul to news verification, I
                    was a film buff through and through. There’s nothing I like more than storyboarding,
                    shooting, and editing. I have been experimenting with every possible format: live music
                    reviews, radio programmes, podcasts, written features, documentary, portraits, film reviews
                    – the list goes on. </p>
                <p>I am a Jack of all trades of sorts, and I love to create multimedia packages
                    when I work on a story as it makes my brain bubble.
                    Mostly, my curiosity is bottomless and so I like to think I can bring fresh ideas and a fresh
                    eye to any project.</p>
            </div>
        </div>
    </main>
</div>