<nav class="flex">
    <div class="navbar-home p-6">
        <a routerLink="home">Home</a>
    </div>
    <div class="flex ml-auto flex gap-10 p-6">
        <a routerLink="about" class="">About</a>
        <div class="verticalLine text-gray-600"></div>
        <a href="https://substack.com/@mariesauve" target="_blank">My Substack</a>
        <div class="verticalLine text-gray-600">
        </div>
        <a href="https://www.flickr.com/people/203204745@N02/" target="_blank">Photography</a>
    </div>
</nav>