<div class="flex flex-col min-h-screen">
    <main class="flex-1">
        <div>
            <div class="header flex justify-center items-center">
                <h1 class="text-5xl">Video</h1>
            </div>
            <div class="outer-div p-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis a deleniti vel quia. Inventore,
                quibusdam
                magni est ex quaerat minima doloremque soluta et necessitatibus, error sunt molestiae, ad esse saepe.
            </div>
        </div>
    </main>