<div class="flex flex-col min-h-screen">
    <main class="flex-1">
        <div>
            <div class="header flex justify-center items-center">
                <h1 class="text-5xl">News Verification</h1>
            </div>
            <div class="outer-div p-4 text-center">
                <p>At a time where AI has infiltrated our daily lives and video clips go viral within seconds,
                    being able to tell the truth from the lie has more than ever become a crucial part of the
                    media landscape.</p>
                <p>News verification journalists are half reporters and half sleuths, analysing every piece of
                    information to meticulously establish a neutral portrait of a particular event.</p>
                <p>For everything that happens in the world today, there will be someone recording it on a
                    phone or a camera. </p>
                <p>My job as a verification expert is to find this footage, clear or license it
                    with its author, and verify its authenticity. I run a background check on the source,
                    corroborate through cross-reference the date of recording, and I geolocate the images.
                    When I present newsrooms with my report of the event, video proof in hand, the client
                    knows that the footage has been verified as authentic and can be used online and in
                    broadcast.</p>
                <p>Here are a few examples of my recent work:</p>
            </div>
        </div>
        <div class="flex items-center justify-center pb-10 text-center">
            <div class="border rounded-sm border-gray-200 w-3xl h-80 overflow-auto shadow-md p-5 background">
                <h2 class="text-lg font-bold pb-5">Gas explosion in Wilmington, MC</h2>
                <p>
                    At Storyful, we always want to get as close to the story as possible. When it came to an
                    explosive
                    car crash in North Carolina recently, a dashcam gave a front-row seat.
                    The incident happened in August, when a driver plowed into an under-construction veterinary
                    clinic
                    in North Carolina, and ruptured a gas line, causing a massive explosion. While we had other
                    videos
                    showing the incident from a distance (see below), I was convinced there had to be someone closer
                    to
                    the scene. I kept digging till I found this dashcam footage from a nearby-parked vehicle, which
                    had
                    captured the moment of the explosion.
                </p>
                <div class="flex flex-row items-center justify-center">
                    <img src="assets/gas-explosion/gas-1.png" class="py-5" alt="" />
                    <img src="assets/gas-explosion/gas-2.png" class="py-5" alt="" />
                </div>
                <div class="flex items-center justify-center">
                    <img src="assets/gas-explosion/gas-3.png" class="py-5" alt="" />
                </div>
                <p>I immediately reached out to the owner of the camera via social media, but also obtained his
                    phone
                    number and email address. I was able to contact him within minutes, and get his witness account,
                    as
                    well permission to use the dramatic visuals.</p>
                <div class="flex flex-col items-center justify-center">
                    <img src="assets/gas-explosion/gas-4.png" class="py-5" alt="" />
                    <img src="assets/gas-explosion/gas-5.png" class="py-5" alt="" />
                </div>
            </div>
        </div>
        <div class="flex items-center justify-center pb-10 text-center">
            <div class="border rounded-sm border-gray-200 w-3xl h-80 overflow-auto shadow-md p-5 background">
                <h2 class="text-lg font-bold pb-5">Rafah camp attack, Gaza</h2>
                <p>
                    Social media reporting has increasingly transformed reporting on conflicts. But it presents
                    verification challenges when using remote sources. An example of the techniques I’ve used to close
                    this reporting gap can be seen in an incident from Gaza in 2024, when I received footage from a
                    source on the ground, showing the aftermath of a strike at a Rafah camp that had killed dozens of
                    civilians overnight.
                </p>
                <p>
                    The Palestinian Red Crescent Society said that the casualties, civilians who were displaced, were
                    “trapped under the flames and in the tents destroyed by the bombardment”.
                </p>
                <p>Clearly, this was a sensitive story, and needed to be carefully verified. I found matching footage
                    that enabled me to confirm the location (see below). I was then able to use this independently
                    confirmed information in my report on the incident.</p>
                <div class="flex flex-col items-center justify-center">
                    <img src="assets/rafah-attack/rafah-1.png" class="py-5" alt="" />
                    <img src="assets/rafah-attack/rafah-2.png" class="py-5" alt="" />
                </div>
                <p>I then wrote a copy of events, which was published on our Newswire. </p>
                <div class="flex items-center justify-center">
                    <img src="assets/rafah-attack/rafah-3.png" class="py-5" alt="" />
                </div>
                <p>The Times used this footage in an article called “Seven days in Rafah explained in maps, graphics and
                    pictures.” <a href="https://www.w3schools.com">The article</a> used my verification. </p>
                <div class="flex items-center justify-center">
                    <img src="assets/rafah-attack/rafah-4.png" class="py-5" alt="" />
                </div>
                <p>A colleague contributed to this article and used the geolocation I had worked on.</p>
                <div class="flex flex-col items-center justify-center ">
                    <img src="assets/rafah-attack/rafah-5.png" class="py-5" alt="" />
                    <img src="assets/rafah-attack/rafah-6.png" class="py-5" alt="" />
                </div>
            </div>
        </div>
        <div class="flex items-center justify-center pb-10 text-center">
            <div class="border rounded-sm border-gray-200 w-3xl h-80 overflow-auto shadow-md p-5 background">
                <h2 class="text-lg font-bold pb-5">Hit and run driver crash in New York, NY</h2>
                <p>On September 1, 2024, <a
                        href="https://www.nbcnewyork.com/news/local/brooklyn-hit-and-run-brownsville/5754645/"
                        class="underline">a report
                    </a>came out that a driver who was allegedly fleeing the scene of a
                    hit-and-run lost control of his minivan and crashed into two vehicles in Brooklyn, New York.
                    CBS issued <a href="https://www.youtube.com/watch?v=E1XM9YqK9D8" class="underline">a video
                        package</a> which comprised
                    two pieces
                    of footage: CCTV of the crash itself, and a cell phone angle of the aftermath. </p>
                <div class="flex items-center justify-center">
                    <img src="assets/hit-and-run/hit-1.png" class="py-5" alt="" />
                </div>
                <p>I was able to quickly geolocate the scene of the accident and ran the address into a tracking tool to
                    obtain the name of the occupant. This enabled me to find potential phone numbers for the source. I
                    established contact with the owner of the camera, who confirmed that the device was his, and I
                    secured a licensing agreement with him. </p>
                <div class="flex flex-col items-center justify-center">
                    <img src="assets/hit-and-run/hit-2.png" class="py-5" alt="" />
                    <img src="assets/hit-and-run/hit-3.png" class="py-5" alt="" />
                </div>
                I then wrote a copy for the report that was published alongside the footage on Storyful’s Newswire.
                <div class="flex flex-row items-center justify-center">
                    <img src="assets/hit-and-run/hit-4.png" class="py-5" alt="" />
                    <img src="assets/hit-and-run/hit-5.png" class="py-5" alt="" />
                </div>
            </div>
        </div>
        <div class="flex items-center justify-center pb-10 text-center">
            <div class="border rounded-sm border-gray-200 w-3xl h-80 overflow-auto shadow-md p-5 background">
                <h2 class="text-lg font-bold pb-5">Carjacking in Jackson, MS</h2>
                <p>Tracking down the right sources and witnesses is a huge part of what I do at Storyful. Getting close
                    to the right people, getting their side, their videos and images, powers compelling storytelling.
                    In May, I reported on <a href="https://www.youtube.com/watch?v=TrckNmBJAAU" class="underline">the
                        story of a family in
                        West Jackson, MS,</a> who were held at gunpoint by a
                    suspect attempting to carjack them.
                </p>
                <div class="flex items-center justify-center">
                    <img src="assets/car-jacking/car-1.png" class="py-5" alt="" />
                </div>
                <p>The source was named in the report. I ran this name in a tracking tool alongside the location, to
                    obtain potential addresses.
                    This enabled me to geo the exact address, as seen in the footage.
                </p>
                <div class="flex flex-col items-center justify-center">
                    <img src="assets/car-jacking/car-2.png" class="py-5" alt="" />
                    <img src="assets/car-jacking/car-3.png" class="py-5" alt="" />
                </div>
                <p>I also found a potential match for the source on social media platforms. From there, I was able to
                    track down one of her children, who had posted the original footage on his Facebook account. This
                    confirmed that I had the correct source. </p>
                <div class="flex items-center justify-center">
                    <img src="assets/car-jacking/car-4.png" class="py-5" alt="" />
                </div>
                <p>From there, I was able to get the source on the phone, and get them to send me video of the harrowing
                    ordeal, and, as importantly, grant permission for its use in covering the story.
                </p>
            </div>
        </div>
        <div class="flex items-center justify-center pb-10 text-center">
            <div class="border rounded-sm border-gray-200 w-3xl h-80 overflow-auto shadow-md p-5 background">
                <h2 class="text-lg font-bold pb-5">Fire in Harrisburg, PA</h2>
                <p>Speed is often of the essence when chasing a story, or a key video. In April last year, I was
                    reporting on <a href="https://www.local21news.com/news/local/6-houses-on-fire-in-harrisburg"
                        class="underline">a local story of a fire in Harrisburg, PA.</a></p>
                <p>The source was not named, but the location was described in the article as the 600 block of Ross
                    Street in Harrisburg. I was able to find the property where the fire occurred using Google Street
                    Views, and to establish which neighbouring house provided the Ring camera footage.
                </p>
                <div class="flex flex-col items-center justify-center">
                    <img src="assets/fire/fire-1.png" class="py-5" alt="" />
                    <img src="assets/fire/fire-2.png" class="py-5" alt="" />
                </div>
                <p>I ran the address into a tracking tool and obtained the name of the occupants, as well as potential
                    phone numbers. I established contact with the owner of the camera and secured an exclusive licensing
                    agreement within the hour.
                    The story was published onto our Newswire.
                </p>
                <div class="flex items-center justify-center">
                    <img src="assets/fire/fire-3.png" class="py-5" alt="" />
                </div>
            </div>
        </div>
    </main>